img {
    width:100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    border: 5px solid black !important;
    background-color: black;
}

img:hover {
    transform: scale(1.1);
    border: 5px solid gold !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.23)
}

.image {
    border: bisque, 5px, solid !important;
    height: 13rem;
}